<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.xyz.mpv">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:resizeableActivity="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:icon="@mipmap/mpv_launcher_icon"
        android:roundIcon="@mipmap/mpv_launcher_icon"
        android:banner="@mipmap/ic_banner"
        android:label="@string/mpv_activity">

        <!-- Multi-window support on some devices -->
        <meta-data android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />
        <meta-data android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true" />

        <activity
            android:name=".MPVActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize|keyboardHidden|keyboard"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FilePickerTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilePickerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/FilePickerDialogTheme"
            android:exported="false" />
        <activity
            android:name=".config.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <service
            android:name=".BackgroundPlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />
        <receiver android:name=".NotificationButtonReceiver" android:exported="false">
            <intent-filter>
                <action android:name="is.xyz.mpv.PLAY_PAUSE" />
                <action android:name="is.xyz.mpv.ACTION_PREV" />
                <action android:name="is.xyz.mpv.ACTION_NEXT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
